/* WhatWeDo.css */
.what-we-do {
  margin: 0;
  padding: 0;
  text-align: center;
  margin-top: 50px;
}

.section-heading {
  color: #70259B;
  font-size: 29px;
}

.section-text {
  font-size: 18px;
  margin: 30px 0;
}

.card-container {
  display: flex;
  justify-content: space-around;
}

.card {
  width: 291px;
  height: 422px;
  background-color: #70259B;
  color: #000;
  text-align: center;
  border-radius: 4px;
  padding: 20px;
}

.card h3 {
  font-size: 24px;
}

.card p {
  font-size: 16px;
}
